@CHARSET "UTF-8";

.formtable {
	padding: 10px;
	border: 1px solid;
}

input[type=text] {
	width: 150px;
}

textarea {
	width: 150px;
	height: 400px;
}

.control {
	margin-left: 10px;
}

.error {
	color: red;
	font-size: small;
	margin-left: 10px;
}